body {
  font-family: Vazir-Medium;
}

.btnProduct{
    width: 100px;
    position: absolute;
    left: 10px;
  }
  @media only screen and (max-width: 860px) {
    .btnProduct{
      width: 100px;
      position: absolute;
      left: 10px;
  
      
    }
  }
  