body {
  font-family: Vazir-Medium;
}

.btnProduct{
    width: 100px;
  }
  @media only screen and (max-width: 860px) {
    .btnProduct{
      width:80px;
      height: 30px;
      font-size: 12px;
    }
    .titr{
font-size: medium;
    }
  }
  