
    .title {
      font-family: Vazir-Medium;
      margin-top: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 20px;
      /* background-image: url("../../assets/image/bg-login.png"); */
      /* border-radius: 10px;
      box-shadow: 1px 1px 8px rgb(156, 86, 177);
      width: 100vw;
      height: 500px;
      border-radius: 5px; */
    }
   
    @media only screen and (max-width: 860px) {
        .title h5{
            font-size: medium;
        }
    }